@media(max-width:1200px){
    .container{
      display: block;
    }
    .main{
        text-align: center;
    }
    .sub{
        font-size: 20px;
        text-align: center;
    }
    ul{
        margin: 0 40%;
    }
}



@media(max-width:1023px){
.sub{
    font-size: 16px;
}
    
}

@media(max-width:767px){
    .main{
        margin-left: -20%;
        transform: scale(0.6);
    }
    ul{
        margin: 0 30%;
    }
    
}


@media(max-width:480px){
    .main{
        margin-left: -23%;
        transform: scale(0.6);
    }
    .sub{
        font-size: 12px;
    }
    ul{
        margin: 0 28%;
    }
    
}

@media (max-width:667px) and (min-width:375px){
    .main{
        margin-left: -36%;
        transform: scale(0.5);
    }
    .sub{
        font-size: 12px;
    }
    ul{
        margin: 0 20%;
    }
}

