@media(max-width:1200px){
    .container{
      display: block;
    }
    .main{
        text-align: center;
    }
    .sub{
        font-size: 20px;
        text-align: center;
    }
    .social-list{
        margin: 10% 34%;
     display: block;
    }
}



@media(max-width:1023px){
    .main{
        transform: scale(1);
    }
.sub{
    font-size: 16px;
}
    .social-list{
        margin: 10% 33%;
    }
}

@media(max-width:767px){
    .main{
        margin-left: -20%;
        transform: scale(0.6);
    }
    .social-list{
        margin: 10% 16%;
    }
    
}


@media(max-width:480px){
    .main{
        margin-left: -30%;
        transform: scale(0.4);
    }
    .sub{
        font-size: 12px;
    }
    .social-list{
        margin: 10% 60%;
    }
    
}

@media (max-width:375px){
    .main{
        margin-left: -30%;
        transform: scale(0.4);
    }
    .sub{
        font-size: 12px;
    }
 
}
@media(max-width:320px){
    .main{
        transform: scale(0.3);
    }
    .sub{
        font-size: 10px;
    }
    
}




