.banner_details {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.banner_details::after {
    content: "";
    background: linear-gradient(rgba(52, 73, 94, 0.2549019607843137) 80%,
            #fff 100%);
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: -1;
    display: block;
    min-width: 100%;
    min-height: 100%;
}

.banner_details_img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.banner_details_content {
    color: white;
}

.banner_details_title {
    font-size: 1.5rem;
    font-weight: 700;
}

.banner_genres {
    color: black;
    padding: 5px 15px;
    margin-right: 0.5rem;
    border: 1px solid transparent;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    margin-top: 10px;
}

.banner_release_day {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

@media (min-width:768px) {
    .banner_details_title {
        font-size: 2rem;
    }

    .banner_details_img {
        height: 500px;
    }

    .banner_release_day {
        color: white;
    }
}